{% extends 'base/base.html' %}


{% block content %}
<form action="agendar" method="post"> {% csrf_token %}
    <input type="hidden" name="id" value="{{ id }}">
    {% csrf_token %}
    {% for field in form2 %}
    <div class="form-group">
        
        
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        

    </div>
{% endfor %}
    {% for field in form %}
        <div class="form-group">
            
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            

        </div>
    {% endfor %}
    
        <td>
            <button type="submit">Agendar</button>
        </td>
    </form>
{% endblock content %}