{% extends 'base/base.html' %}


{% block content %}
<div class="container">
    <p class="fs-3 pt-3"><strong>Panel de Administración</strong></p>
    <div class="row">
        <div class="col col-xl-4 col-md-6 col-sm-6 pt-2">
            <a href="#" style="text-decoration: none; color: black;">
                <div class="card bg-success bg-opacity-50 fs-3">
                    <div class="card-body">
                        <strong>Facturas</strong> 
                    </div>
                </div>
            </a>
        </div>
        <div class="col col-xl-4 col-md-6 col-sm-6 pt-2">
            <a href="#" style="text-decoration: none; color: black;">
                <div class="card bg-success bg-opacity-50 fs-3">
                    <div class="card-body">
                        <strong>Eventos</strong> 
                    </div>
                </div>
            </a>
        </div>
        <div class="col col-xl-4 col-md-6 col-sm-6 pt-2">
            <a href="#" style="text-decoration: none; color: black;">
                <div class="card bg-success bg-opacity-50 fs-3">
                    <div class="card-body">
                        <strong>Productos</strong>
                    </div>
                </div>
            </a>
        </div>
        <div class="col col-xl-4 col-md-6 col-sm-6 pt-2">
            <a href="#" style="text-decoration: none; color: black;">
                <div class="card bg-success bg-opacity-50 fs-3">
                    <div class="card-body">
                        <strong>Productos</strong>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock content %}