{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Lista de Servicios</h2>
    
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nombre del Servicio</th>
                    <th>Unidad de Medida</th>
                    <th>Valor por Unidad</th>
                </tr>
            </thead>
            <tbody>
                {% for servicio in servicios %}
                    <tr>
                        <td>{{ servicio.nombre }}</td>
                        <td>{{ servicio.unidad_de_medida }}</td>
                        <td>{{ servicio.valor_por_unidad }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
