<!DOCTYPE html>
<html>
  {% load static  %}
<head>
    <link rel="icon" href="{% static 'index/img/cake.png' %}">
    <link rel="stylesheet" href="{% static 'index/css/estilo.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Banquetería Rose Marie</title>
</head>
<body>
    <header id="header">
        <a href="#Inicio" class="logo">BANQUETERÍA</a>
	    <nav class="navbar">
            <div class="nav-links">
			    <ul>
				    <li><a href="#servicios">Servicios</a>
                        <ul class="sub">
                            <li><a href="#tranding">Productos</a></li>
                        </ul>
                    </li>
				    <li><a href="#acerca-de-3">Nosotros</a>
                        <ul class="sub">
                            <li><a href="#mision-vision">Misión y Visión</a></li>
                        </ul>
                    </li>
                    <li><a href="#galeria-4">Galería</a></li>
				    <li><a href="#contacto-5">Contacto</a></li>
			    </ul>
            </div>
	    </nav>
    </header>
    <section id="Inicio">
        <div  style="margin:-left 200px; " id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>   
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'index/img/gris.jpg' %}" class="d-block w-100" alt="avatar"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>¡Ya disponible!</h5>
                        <p>¡Disfruta de este servicio ahora que esta disponible!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'index/img/gris.jpg' %}" class="d-block w-100" alt="avatar"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>¡Pidelo ahora!</h5>
                        <p>El increible sabor de los pasteles te va a encantar</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'index/img/gris.jpg' %}" class="d-block w-100" alt="avatar"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Vuelve a estar en stock</h5>
                        <p>Vive la experiencia antes que se agote</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Antes</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
        <br>
        <br>
        <p style="padding:40px 50px 10px 50px;">	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p style="padding:4px 50px 10px 50px;">	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p style="padding:4px 50px 60px 50px;">	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="card-deck" style="padding:5px 50px 10px 50px;">
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/cuadro.png' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/cuadro.png' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/cuadro.png' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/cuadro.png' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/cuadro.png' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/cuadro.png' %}"alt="Card imge cap">
            </div>
        </div>

    </section>

    <!-- Sección 2 -->
    <section id="servicios" style="padding:80px 50px 10px 50px;">

        <h1 class="text-center section-headingS">Servicios</h1>
        <p style="padding:40px 50px 10px 50px;">	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <br>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/bebida.jpg' %}"alt="Card imge cap">
                <div class="card-body">
                    <h5 class="card-title">Servicio de coctelería</h5>
                    <p class="card-text">Preparación de tragos.</p>
                    <p class="card-text"><small class="text-muted">$200.000</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/boda.jpg' %}"alt="Card imge cap">
                <div class="card-body">
                    <h5 class="card-title">Servicios de boda</h5>
                    <p class="card-text">Preparación de platillos.</p>
                    <p class="card-text"><small class="text-muted">$350.000</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/evento1.jpg' %}"alt="Card imge cap">
                <div class="card-body">
                    <h5 class="card-title">Servicios de fiesta</h5>
                    <p class="card-text">Decoración al gusto.</p>
                    <p class="card-text"><small class="text-muted">110.000</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/canape.jpeg' %}" alt="Card imge cap">
                <div class="card-body">
                    <h5 class="card-title">Servicios de canapé</h5>
                    <p class="card-text">Exquisita preparación.</p>
                    <p class="card-text"><small class="text-muted">$59.000</small></p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p style="padding:40px 50px 10px 50px;">	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        
        <div class="card-deck-c">
            <div class="card-s bg-dark text-white">
                <img class="card-img" src="{% static 'index/img/bod.jpg' %}"alt="Card imge">
            </div>
        </div>
    </section>


    <!-- Sección productos-->
    <section id="tranding"style="padding:20px 50px 10px 50px;">
      <div class="container">
        <h3 class="text-center section-subheading" style="padding:60px 50px 10px 50px;">- Comida Popular -</h3>
        <h1 class="text-center section-heading">Productos</h1>
      </div>
      <div class="container">
        <div class="swiper tranding-slider">
          <div class="swiper-wrapper">
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img">
                <img src="{% static 'index/images/tranding-food-1.png' %}"alt="Tranding">
              </div>
              <div class="tranding-slide-content">
                <h1 class="food-price">$2000</h1>
                <div class="tranding-slide-content-bottom">
                  <h2 class="food-name">
                    Pizza Especial
                  </h2>
                  <h3 class="food-rating">
                    <span>4.5</span>
                    <div class="rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>
                  </h3>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img">
                <img src="{% static 'index/images/tranding-food-2.png' %}"alt="Tranding">
              </div>
              <div class="tranding-slide-content">
                <h1 class="food-price">$2000</h1>
                <div class="tranding-slide-content-bottom">
                  <h2 class="food-name">
                    Albondigas
                  </h2>
                  <h3 class="food-rating">
                    <span>4.5</span>
                    <div class="rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>
                  </h3>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img">
                <img src="{% static 'index/images/tranding-food-3.png' %}"alt="Tranding">
              </div>
              <div class="tranding-slide-content">
                <h1 class="food-price">$4000</h1>
                <div class="tranding-slide-content-bottom">
                  <h2 class="food-name">
                    Hamburguesa
                  </h2>
                  <h3 class="food-rating">
                    <span>4.5</span>
                    <div class="rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>
                  </h3>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img">
                <img src="{% static 'index/images/tranding-food-4.png' %}"alt="Tranding">
              </div>
              <div class="tranding-slide-content">
                <h1 class="food-price">$1500</h1>
                <div class="tranding-slide-content-bottom">
                  <h2 class="food-name">
                    Curry Fresco
                  </h2>
                  <h3 class="food-rating">
                    <span>4.5</span>
                    <div class="rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>
                  </h3>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img">
                <img src="{% static 'index/images/tranding-food-5.png' %}"alt="Tranding">
              </div>
              <div class="tranding-slide-content">
                <h1 class="food-price">$1500</h1>
                <div class="tranding-slide-content-bottom">
                  <h2 class="food-name">
                    Panqueque
                  </h2>
                  <h3 class="food-rating">
                    <span>4.5</span>
                    <div class="rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>
                  </h3>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img">
                <img src="{% static 'index/images/tranding-food-6.png' %}"alt="Tranding">
              </div>
              <div class="tranding-slide-content">
                <h1 class="food-price">$2000</h1>
                <div class="tranding-slide-content-bottom">
                  <h2 class="food-name">
                    Torta de Vainilla
                  </h2>
                  <h3 class="food-rating">
                    <span>4.5</span>
                    <div class="rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>
                  </h3>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img">
                <img src="{% static 'index/images/tranding-food-7.png' %}"alt="Tranding">
              </div>
              <div class="tranding-slide-content">
                <h1 class="food-price">$1800</h1>
                <div class="tranding-slide-content-bottom">
                  <h2 class="food-name">
                    Pan Dulce
                  </h2>
                  <h3 class="food-rating">
                    <span>4.5</span>
                    <div class="rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>
                  </h3>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
          </div>

          <div class="tranding-slider-control">
            <div class="swiper-button-prev slider-arrow">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </div>
            <div class="swiper-button-next slider-arrow">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>
      </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'index/js/script.js' %}"></script>
    <!-- Sección 3 -->
    <section id="acerca-de-3">

        <h1 class="text-center section-headingS" style="padding:80px 50px 10px 50px;">Nosotros</h1>
        <div class="card-deck" style="padding:20px 80px 30px 80px;">
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/cuadro.png' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/cuadro.png' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/cuadro.png' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/cuadro.png' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/cuadro.png' %}"alt="Card imge cap">
            </div>

        </div>
        <h2 style="text-align: center;">Lo que ofrecemos</h2>
        <p style="padding:20px 50px 10px 50px;">Ofrecemos ir donde nos necesites dentro de la zona de cobertura en la Región Metropolitana con comida rica y confiable, presentada en forma atractiva y original.<br>Ponemos cariño en lo que hacemos. Entregamos atención personalizada y un servicio de garzones oportuno y cálido, lo cual se refuerza con supervisión permanente en terreno.<br><strong>Todas nuestras preparaciones:</strong> </p>
        
        <p style="padding:4px 50px 10px 50px;">
          Utilizan sólo ingredientes y productos terminados frescos, de empresas líderes en su rubro y/o segmento y que cuenten con resolución sanitaria. <br>
          Son elaboradas mediante la aplicación profesional de técnicas de cocina; el equipo de cocina cuenta con formación formal en gastronomía y a esto se suma la dirección del chef quien supervisa sabor, puntos de cocción y montaje de las preparaciones. <br>
          Dentro de las preferencias del cliente, privilegiamos el uso de ingredientes saludables y cuidamos un adecuado maridaje con las bebidas.
        </p>
        <p style="padding:4px 50px 10px 50px;">	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h2 style="text-align: center;" >Proveedores</h2>
        <p style="padding:4px 50px 10px 50px;">	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="card-deck" style="padding:10px 400px 30px 400px;">
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/cuadro.png' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/cuadro.png' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/cuadro.png' %}"alt="Card imge cap">
            </div>
        </div>  
    </section>

    <!-- Sección 4 -->
    <section id="galeria-4">
        <br>
        <br>
        <br>
        <br>
        <h1 class="text-center section-headingS">Galería</h1>
        <div class="card-deck"  style="padding:0px 60px 0px 60px;">
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/bebida.jpg' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/boda.jpg' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/evento1.jpg' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/canape.jpeg' %}" alt="Card imge cap">
            </div>
            <div class="card">
              <img class="card-img-top" src="{% static 'index/img/comida/bebida.jpg' %}"alt="Card imge cap">
          </div>
        </div>
        <br>
        <div class="card-deck"  style="padding:0px 60px 0px 60px;">
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/bebida.jpg' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/boda.jpg' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/evento1.jpg' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/canape.jpeg' %}" alt="Card imge cap">
            </div>
            <div class="card">
              <img class="card-img-top" src="{% static 'index/img/comida/bebida.jpg' %}"alt="Card imge cap">
          </div>
        </div>
        <br>
        <div class="card-deck" style="padding:0px 60px 0px 60px;">
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/bebida.jpg' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/boda.jpg' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/evento1.jpg' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/canape.jpeg' %}" alt="Card imge cap">
            </div>
            <div class="card">
              <img class="card-img-top" src="{% static 'index/img/comida/bebida.jpg' %}"alt="Card imge cap">
          </div>
        </div>
        <br>
        <div class="card-deck" style="padding:0px 60px 0px 60px;">
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/bebida.jpg' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/boda.jpg' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/evento1.jpg' %}"alt="Card imge cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'index/img/comida/canape.jpeg' %}" alt="Card imge cap">
            </div>
            <div class="card">
              <img class="card-img-top" src="{% static 'index/img/comida/bebida.jpg' %}"alt="Card imge cap">
          </div>
        </div>
    </section>

    <!-- Sección 5 -->
    <section id="contacto-5">
        <br>
        <br>
        <br>
        <br>
        <h1 class="text-center section-headingS" style="padding:60px 50px 20px 50px;">Contacto</h1>
        <h3 class="text-center section-subheading" style="padding:20px 50px 30px 50px;">- ESCRÍBENOS -</h3>
        <h4 class="text-center">Si tienes una duda o necesitas asesoría para un evento no dudes en mandarnos un correo o llamarnos!</h4>
        <br>
        <!-- xd-->
        <form action="form" method="post">
            <h4 class="text-center">TE LLAMAMOS?</h4>
            <ul>
              <li>
                <label for="name">NOMBRE</label>
                <br>
                <input type="text" id="name" name="user_name" />
              </li>
              <li>
                <label for="name">TELEFONO (sin +569):</label>
                <br>
                <input type="text" id="name" name="user_name" />
              </li>
              <li>
                <label for="mail">CORREO ELECTRÓNICO</label>
                <br>
                <input type="email" id="mail" name="user_mail" />
              </li>
              <li>
                <label for="msg">MENSAJE</label>
                <br>
                <textarea id="msg" name="user_message"></textarea>
              </li>
            </ul>
            <li class="button">
                <button type="submit">LLÁMENME</button>
            </li>
          </form>
        <!-- xd -->
        <p style="padding:30px 50px 30px 50px;">	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
     <!-- Sección 6 -->
     <section id="mision-vision">
        <br>
        <br>
        <br>
        <br>
        <h1 class="text-center section-headingS"style="padding:100px 50px 10px 50px;"">Visión y Misión</h1>
        <h3 class="text-center section-subheading">- Declaraciones Estratégicas -</h3>
        <h3 style="text-align: center;">Nuestra misión</h3>
        <p style="padding:4px 50px 10px 50px;">Somos una empresa de banquetería que ofrece cocina gourmet y servicio de alta calidad a sus clientes, principalmente empresas del Gran Santiago. <br>  Buscamos desarrollarnos como personas y profesionales así como crecer como negocio, en forma sustentable con la comunidad en la que nos insertamos, nuestros trabajadores y el ambiente.</p>
        <p style="padding:4px 50px 10px 50px;">	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h3 style="text-align: center;">Nuestra visión</h3>
        <P style="padding:4px 50px 10px 50px;">Aspiramos a convertirnos en un negocio gastronómico reconocido en el Gran Santiago por ofrecer experiencias y sabores inolvidables, con una buena relación calidad / precio y en forma sustentable.</P>
        <p style="padding:4px 50px 10px 50px;">	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p style="padding:4px 50px 10px 50px;">	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h3 style="text-align: center;">Nuestros valores</h3>
            <ul style="margin-left: 2em;"> 
                <li>Calidez y Orientación al Cliente</li>
                <li>Trabajo en Equipo</li>
                <li>Creatividad</li>
                <li>Orden e Higiene</li>
                <li>Compromiso</li>
                <li>Integridad</li>
                <li>Sustentabilidad</li>
            </ul>
            <p style="padding:40px 50px 80px 50px;">	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
    <div id="footer"></div>
</body>
</html>